@charset "UTF-8"; 

body {
  background-color: tomato;
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: white;
  border: 5px solid lightsalmon;
  padding: 20px;
}
 
header   {
  padding: 40px;
  height: 70px;
}
 
nav {
  padding: 8px 40px;
  background-color: royalblue;
  color: white;
  border-radius: 10px;
}
 
main{
  padding: 40px;
  height : 400px;
}
 
footer   {
  padding: 40px;
  height: 40px;
  background-color : royalblue;
  color: white;
}

.circle img {
  border-radius: 50%;
  width: 300px;
}
